.p1 {
    color: blue;
}

div {
    display: flex;
    : 5px;
}

p {
    flex: 1;
    background-color: blue;
    height: 100px;
    margin: 0 10px;
    font-size: 50px;

}

#pFirst {
    display: none;
}

.p0 {
    background-color: green;
}

.p1 {
    background-color: yellow;
}
